body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
}
body:not(.user-is-tabbing) button:focus,
body:not(.user-is-tabbing) .btn:focus,
body:not(.user-is-tabbing) input:focus,
body:not(.user-is-tabbing) select:focus,
body:not(.user-is-tabbing) textarea:focus {
  outline: none;
  box-shadow: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  text-align: center;
}
h1,
h4 {
  font-family: 'Press Start 2P', cursive;
}
h3 {
  font-weight: 300;
  color: #666;
  padding-top: 2rem;
}
h5 {
  font-weight: 300;
  color: #888;
  margin-bottom: 1.5rem;
}
p {
  color: #333;
}
hr {
  margin: 2rem 0 1.5rem;
}
.btn {
  text-transform: uppercase;
  font-size: 15px;
  color: #333;
  background-color: #ffff00;
  border-radius: 42px;
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  letter-spacing: 2px;
}
.btn:focus,
.btn:hover,
.btn:visited {
  color: #333;
}
#header {
  min-height: 568px;
  height: 100vh;
  width: 100%;
  position: relative;
  background: url(img/8bit.jpg) no-repeat center center #151e28;
  background-size: cover !important;
}
@media screen and (min-width: 992px) {
  #header {
    min-height: 812px;
  }
}
#header .navbar {
  background: #171717;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
}
#header .navbar .navbar-brand {
  height: 44px;
  padding-top: 8px;
  padding-bottom: 8px;
}
#header .navbar .navbar-brand img {
  display: block;
  height: 100%;
}
#header .navbar .navbar-toggler {
  color: #fff;
  padding: 0.25rem 0;
}
#header .navbar .navbar-nav {
  padding: 2rem 0;
  text-align: right;
}
@media screen and (min-width: 768px) {
  #header .navbar .navbar-nav {
    padding: 0;
    text-align: left;
  }
}
#header .navbar .navbar-nav .nav-link {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
}
#header .navbar .form-inline {
  display: flex;
  padding: 2rem 0;
  float: right;
}
@media screen and (min-width: 768px) {
  #header .navbar .form-inline {
    padding: 0;
    float: none;
    width: auto;
  }
}
#header .navbar .form-inline .form-control {
  height: 28px;
  border: none;
  border-radius: 28px;
  padding: 0.375rem 28px 0.375rem 12px;
  width: 240px;
  background-color: #e0e0e0;
  font-size: 14px;
  vertical-align: middle;
  vertical-align: -moz-middle-with-baseline;
}
@media screen and (min-width: 768px) {
  #header .navbar .form-inline .form-control {
    width: 200px;
  }
}
@media screen and (min-width: 992px) {
  #header .navbar .form-inline .form-control {
    width: 240px;
  }
}
#header .navbar .form-inline .form-control:focus {
  border: none;
  box-shadow: none;
}
#header .navbar .form-inline .search {
  background-color: transparent;
  color: #454545;
  border: none;
  display: inline-block;
  margin: 0 0 0 -32px;
  position: relative;
  vertical-align: middle;
  vertical-align: -moz-middle-with-baseline;
  cursor: pointer;
}
#header .video-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#header .video-container iframe {
  pointer-events: none;
}
#header .text-container {
  background-color: rgba(21, 30, 40, 0.4);
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: relative;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header .text-container h1 {
  color: rgba(255, 255, 255, 0.6);
  font-size: 2.25rem;
  margin: 0 0 4rem 4px;
}
@media screen and (min-width: 375px) {
  #header .text-container h1 {
    font-size: 2.75rem;
    margin: 0 0 3rem 5px;
  }
}
@media screen and (min-width: 480px) {
  #header .text-container h1 {
    font-size: 3.5rem;
    margin: 0 0 2rem 6px;
  }
}
@media screen and (min-width: 576px) {
  #header .text-container h1 {
    font-size: 4rem;
    margin: 0 0 1rem 7px;
  }
}
@media screen and (min-width: 768px) {
  #header .text-container h1 {
    font-size: 5rem;
    margin: 0 0 0 8px;
  }
}
@media screen and (min-width: 992px) {
  #header .text-container h1 {
    font-size: 6rem;
    margin: 0 0 0 10px;
  }
}
#header .text-container .rickroll {
  position: absolute;
  width: 100%;
  bottom: 75px;
}
@media screen and (min-width: 576px) {
  #header .text-container .rickroll {
    bottom: 125px;
  }
}
@media screen and (min-width: 768px) {
  #header .text-container .rickroll {
    bottom: 175px;
  }
}
main section {
  padding-bottom: 2rem;
}
@media screen and (min-width: 768px) {
  main .plpr {
    padding-left: 8px;
    padding-right: 8px;
  }
}
main #episodes a {
  text-decoration: none;
  padding: 15px;
}
main #episodes a:hover {
  color: #fff;
  background-color: #151e28;
}
main #episodes a header {
  color: #333;
}
main #episodes a header .fa-key {
  margin-right: 0.375rem;
}
main #episodes a header p {
  color: #333;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
}
main #episodes a p {
  color: #888;
  font-size: 14px;
  margin: 0;
  min-height: 42px;
}
main #episodes a:hover header,
main #episodes a:hover header p,
main #episodes a:hover p {
  color: #fff;
}
main #exclusives {
  background-color: #f5f5f5;
}
main #exclusives h3 {
  margin-bottom: 2rem;
}
main #exclusives a {
  text-decoration: none;
}
main #exclusives a .time {
  background: #000;
  color: #fff;
  bottom: 0;
  right: 0;
  display: block;
  font-size: 12px;
  font-weight: 400;
  line-height: 1;
  padding: 0.375rem;
  position: absolute;
  z-index: 2;
}
main #exclusives p {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  margin-top: 5px;
}
main #about {
  text-align: center;
}
main #about h3 {
  margin-bottom: 2rem;
}
footer {
  background-color: #151e28;
  text-align: center;
}
footer .social-icons {
  padding: 5rem 0;
}
footer .social-icons a {
  text-decoration: none;
}
footer .social-icons svg * {
  fill: url(#gradient);
}
footer .social-icons span {
  padding: 1.5em;
}
@media screen and (min-width: 576px) {
  footer .social-icons span {
    padding: 2em;
  }
}
@media screen and (min-width: 768px) {
  footer .social-icons span {
    padding: 2.5em;
  }
}
footer .social-icons .icon {
  font-size: 3em;
}
@media screen and (min-width: 768px) {
  footer .social-icons .icon {
    font-size: 3.5em;
  }
}
footer h4 {
  color: #fff;
  letter-spacing: 2px;
  margin-bottom: 1rem;
}
footer h4 span {
  margin-left: 10px;
}
footer p {
  color: #b2b5b9;
}
footer #form {
  display: flex;
  padding: 3rem 0 3rem 0;
  justify-content: center;
}
footer #form input {
  height: 42px;
  border: none;
  border-radius: 42px;
  padding: 0.375rem 48px 0.375rem 20px;
  margin-left: -15px;
  min-width: 260px;
  background-color: #dfe1e2;
  font-size: 15px;
  vertical-align: middle;
  vertical-align: -moz-middle-with-baseline;
}
@media screen and (min-width: 768px) {
  footer #form input {
    min-width: 360px;
  }
}
footer #form input:focus {
  border: none;
  box-shadow: none;
}
footer #form .submit {
  background-color: transparent;
  color: #444b53;
  border: none;
  display: inline-block;
  margin: 0 0 0 -45px;
  position: relative;
  vertical-align: middle;
  vertical-align: -moz-middle-with-baseline;
  cursor: pointer;
}
footer .bomholtm {
  height: 42px;
  background-color: #111820;
  font-weight: 700;
  width: 100%;
  text-align: center;
}
footer .bomholtm a {
  color: #41464d;
  font-size: 15px;
  line-height: 42px;
}
footer .bomholtm a:focus,
footer .bomholtm a:hover,
footer .bomholtm a:visited {
  color: #41464d;
  text-decoration: none;
}
footer .bomholtm a .fa-github-alt {
  margin-right: 0.25rem;
}
