@charset "UTF-8";
body {
  font-family: 'Roboto', sans-serif;
}
button:focus,
a:focus {
  outline: 0;
  text-decoration: none;
}
.navbar {
  border-bottom: 0.0625rem solid #f5eefe;
  background-color: #fff;
  box-shadow: 0 0.25rem 0.3125rem 0 rgba(116, 76, 158, 0.07), 0 0.0625rem 0.625rem 0 rgba(157, 124, 191, 0.06),
    0 0.125rem 0.25rem -0.0625rem rgba(157, 124, 191, 0.1);
}
.navbar .navbar-brand img {
  height: 2rem;
  width: 2rem;
}
.navbar .navbar-brand h1 {
  color: #26202c;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 0;
  margin: 0;
}
.navbar .navbar-brand h1 span {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 300;
}
.navbar .navbar-toggler {
  color: #9d7cbf;
  padding: 0;
}
.navbar .navbar-icons a {
  color: #9d7cbf;
  margin: 0 0 0 1.5rem;
}
.navbar .navbar-icons a:hover {
  color: #744d9e;
}
.navbar .navbar-icons .disabled {
  color: #868e96;
  text-decoration: none;
  margin: 0 0.75rem 0 0;
}
.navbar .navbar-icons .disabled:hover {
  color: #868e96;
}
.navbar-nav {
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .navbar-nav {
    padding: 0;
  }
}
.navbar-nav .nav-item {
  padding: 0.0625rem 0;
}
.navbar-nav .nav-item .nav-link,
.navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  width: inherit;
  font-size: 0.875rem;
  padding: 0 0.1875rem;
  text-decoration: none;
}
.navbar-nav .nav-item .nav-link:hover,
.navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: #e0d6eb;
  text-decoration: none;
}
.navbar-nav .nav-item .nav-link:focus,
.navbar-nav .nav-item .dropdown-menu .dropdown-item:focus {
  background-color: transparent;
  text-decoration: none;
}
.navbar-nav .nav-item .header {
  color: #9d7cbf;
  font-size: 0.875rem;
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.0625rem;
  margin: 1.125rem 0 0.375rem 0;
}
.navbar-nav .nav-item .header:hover {
  text-decoration: none;
}
#alt-navbar .dropdown-toggle:after {
  vertical-align: middle;
}
#alt-navbar .dropdown-menu {
  border: none;
  padding: 0;
  margin: 0;
}
#alt-navbar .dropdown-menu ul {
  list-style: none;
  padding: 0 0.1875rem;
}
#alt-navbar .dropdown-menu ul li {
  padding: 0.0625rem;
}
#alt-navbar .dropdown-menu ul li .dropdown-item.active {
  background-color: transparent;
  font-weight: 500;
}
#alt-navbar .dropdown-menu ul li .dropdown-item.active:before {
  color: #9d7cbf;
  content: '• ';
}
#navbar {
  background-color: #f6f3f8;
  position: fixed;
  width: 17.5rem;
  overflow-y: auto;
  z-index: 1;
  height: 100vh;
}
#navbar ul {
  padding: 4rem 1.125rem 1.125rem;
}
#navbar ul .nav-link.active {
  background-color: transparent;
  font-weight: 500;
}
#navbar ul .nav-link.active:before {
  color: #9d7cbf;
  content: '• ';
}
#main-doc {
  color: #3d3347;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  padding-top: 5rem;
  z-index: 2;
  background-color: #fff;
}
@media (min-width: 768px) {
  #main-doc {
    margin-left: 16rem;
    border-left: 0.0625rem solid #ede7f1;
  }
}
#main-doc section {
  padding: 1rem;
}
@media (min-width: 768px) {
  #main-doc section {
    padding: 1rem 10%;
  }
}
#main-doc section h1 {
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 1rem;
}
#main-doc section h2 {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 1.75rem 0 1rem 0;
}
#main-doc section ol {
  padding: 0 0 0 1.25rem;
}
#main-doc section a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 100ms cubic-bezier(0.4, 0, 0.2, 1);
  border-bottom: 0.0625rem solid #e0d6eb;
  box-shadow: inset 0 -0.0625rem 0 0 #e0d6eb;
  font-weight: 600;
}
#main-doc section a:hover {
  background-color: #e0d6eb;
}
#main-doc section .code {
  background-color: #fcf6f0;
  border-radius: 0.1875rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 1rem;
  margin: 1rem 0;
}
#main-doc section code {
  color: inherit;
  font-family: 'Roboto Mono', monospace;
  font-size: 0.875rem;
  background-color: #fcf6f0;
  border-radius: 0.1875rem;
}
#main-doc section code .purple {
  color: #b3568b;
}
#main-doc section code .blue {
  color: #538eb6;
}
#main-doc section code .green {
  color: #6f8f39;
}
.empty {
  padding-bottom: 7.5rem !important;
}
footer {
  height: 42px;
  color: #c8b5d4;
  background-color: #ede7f1;
  font-weight: 500;
  width: 100%;
  text-align: center;
}
footer a {
  color: #c8b5d4;
  line-height: 2.625rem;
  position: relative;
  top: 0.125rem;
}
footer a:focus,
footer a:hover,
footer a:visited {
  color: #c8b5d4;
  text-decoration: none;
}
footer a .fa-lg {
  vertical-align: text-top;
  margin-right: 0.25rem;
}
