@import url('https://fonts.googleapis.com/css?family=Roboto');
::-moz-selection {
  background: transparent;
}
::selection {
  background: transparent;
}
body {
  background-color: #eee;
  font-family: 'Roboto', sans-serif;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
.wrapper {
  height: calc(100vh - 72px);
  min-height: 500px;
  padding: 15px;
  position: relative;
}
@media (min-width: 768px) {
  .wrapper {
    min-height: 630px;
  }
}
.wrapper .container {
  height: 470px;
  width: 290px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
@media (min-width: 768px) {
  .wrapper .container {
    height: 600px;
    width: 420px;
  }
}
.wrapper .container .outer {
  position: relative;
  height: 290px;
  width: 290px;
  margin-bottom: 60px;
}
@media (min-width: 768px) {
  .wrapper .container .outer {
    height: 420px;
    width: 420px;
  }
}
.wrapper .container .outer .col {
  cursor: default;
  float: left;
  height: 141px;
  width: 141px;
}
@media (min-width: 768px) {
  .wrapper .container .outer .col {
    height: 202px;
    width: 202px;
  }
}
.wrapper .container .outer #green {
  background-color: #4caf50;
  border-top-left-radius: 100%;
  margin: 0 4px 4px 0;
}
@media (min-width: 768px) {
  .wrapper .container .outer #green {
    margin: 0 8px 8px 0;
  }
}
.wrapper .container .outer #red {
  background-color: #f44336;
  border-top-right-radius: 100%;
  margin: 0 0 4px 4px;
}
@media (min-width: 768px) {
  .wrapper .container .outer #red {
    margin: 0 0 8px 8px;
  }
}
.wrapper .container .outer #yellow {
  background-color: #ffeb3b;
  border-bottom-left-radius: 100%;
  margin: 4px 4px 0 0;
}
@media (min-width: 768px) {
  .wrapper .container .outer #yellow {
    margin: 8px 8px 0 0;
  }
}
.wrapper .container .outer #blue {
  background-color: #2196f3;
  border-bottom-right-radius: 100%;
  margin: 4px 0 0 4px;
}
@media (min-width: 768px) {
  .wrapper .container .outer #blue {
    margin: 8px 0 0 8px;
  }
}
.wrapper .container .outer .inner {
  pointer-events: none;
  height: 145px;
  width: 145px;
  background-color: #eee;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin: 0 auto;
}
@media (min-width: 768px) {
  .wrapper .container .outer .inner {
    height: 210px;
    width: 210px;
  }
}
.wrapper .container .outer .inner .counter {
  display: none;
  color: #212121;
  font-size: 24px;
  margin: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 145px;
}
@media (min-width: 768px) {
  .wrapper .container .outer .inner .counter {
    font-size: 32px;
    line-height: 210px;
  }
}
.wrapper .container .controls {
  width: 160px;
  margin: 0 auto;
}
.wrapper .container .controls .btn {
  text-decoration: none;
  display: block;
  color: #212121;
  cursor: pointer;
  background-color: #e0e0e0;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.5px;
  border: none;
  border-radius: 2px;
  height: 36px;
  width: 100%;
  line-height: 36px;
  margin: 15px 0;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.wrapper .container .controls #stop {
  display: none;
}
.wrapper .container .controls .disabled {
  pointer-events: none;
  background-color: #dfdfdf;
  box-shadow: none;
  color: #9f9f9f;
  cursor: default;
}
.wrapper .container .controls .checkbox {
  width: 15px;
  position: relative;
}
.wrapper .container .controls .checkbox label {
  cursor: pointer;
  position: absolute;
  width: 15px;
  height: 15px;
  top: 0;
  left: 0;
  background: #f5f5f5;
  border: 2px solid #424242;
  border-radius: 2px;
}
.wrapper .container .controls .checkbox label:after {
  opacity: 0;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  background: transparent;
  top: 2px;
  left: 1px;
  border: 3px solid #f5f5f5;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.wrapper .container .controls .checkbox [type='checkbox']:checked + label {
  background-color: #424242;
}
.wrapper .container .controls .checkbox [type='checkbox']:checked + label:after {
  opacity: 1;
}
.wrapper .container .controls .checkbox span {
  color: #212121;
  font-size: 14px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 25px;
}
footer {
  background-color: #e0e0e0;
  bottom: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 42px;
  width: 100%;
  text-align: center;
}
footer a {
  color: #a8a8a8;
  line-height: 42px;
  position: relative;
  top: 2px;
  text-decoration: none;
}
footer a:focus,
footer a:hover,
footer a:visited {
  color: #a8a8a8;
}
footer a .fa-lg {
  vertical-align: text-top;
  margin-right: 4px;
}
